form#filter
  input( type='date', name='date' )
  input( type='search', name='query', placeholder='search' )
  input( type='submit', value='go' )

.toolbar
  select#projects
    option( disabled=true ) project
    - each project in projects
      option( value=project.id )= project.name
  .totals

ul.items Loading
  //- hour-view (li)

template( id='hour-view' ):
  table.hour
    thead
      tr
        th.project project
        th: input( type='checkbox' )
        th.hour= strftime('%l %p', hour.hour)
        th.duration duration
        th.app app
        th.title title
    tbody
      //- item-view (tr)
    tfoot
      //- totals-view (tr)

template( id='item-view' ):
  tr
    td.project
      - if (item.projectId)
        = projects.get(item.projectId).get('name')
    td: input( type='checkbox' )
    td!= strftime('%l:<b>%M:%S</b>', item.start)
    td= toDurationString(item.duration)
    td= item.app
    td: div.title= item.info.title

template( id='totals-view' ):
  th.totals( colspan=6 )
    = totals.count
    |  items: 
    dl.projects
      - each duration, projectId in totals.projects
        - project = projects.get(projectId)
        dt= project.get('name')
        dd
          = toDurationString(duration)
          - if (project.get('rate'))
            = ' ($' + (project.get('rate')*duration/3600).toFixed(2) + ')'
      - if (totals.unassigned)
        dt unassigned
        dd= toDurationString(totals.unassigned)
