form#filter
  input( type='date', name='date' )
  input( type='search', name='query', placeholder='search' )
  input( type='submit', value='go' )
  span.totals

table.hour.toolbar: tr
  th.project
  th.checkbox: input( type='checkbox' )
  th( colspan=4 )
    select#projects
      option( disabled=true ) assign to
      - each project in projects
        option( value=project.id )= project.name
    button#destroy delete

ul.items Loading
  //- hour-view (li)

template( id='hour-view' ):
  table.hour
    thead
      tr
        th.project project
        th.checkbox: input( type='checkbox' )
        th.hour= strftime('%l %p', hour.hour)
        th.duration duration
        th.app app
        th.title title
    //- group-view (tbody)
      //- item-view (tr)
    //- totals-view (tfoot)

template( id='item-view' ):
  tr
    td.project
      - if (item.projectId)
        = projects.get(item.projectId).get('name')
    td: input( type='checkbox' )
    td!= strftime('%l:<b>%M:%S</b>', item.start)
    td.duration= toDurationString(item.duration)
    td= item.app
    td: div.title= item.info.title

template( id='group-view' ):
  tr.summary
    td.project
      = projects.get(group.first().get('projectId')).get('name')
      = ' (' + group.length + ')'
    td: input( type='checkbox' )
    td
      != strftime('%l:<b>%M:%S</b>', group.first().get('start'))
      - if (group.length > 1)
        != '-' + strftime('%l:<b>%M:%S</b>', group.last().get('end'))
    td.duration
      - each duration in group.totals.projects
        = toDurationString(duration)
    td( colspan=2 )= _.keys(group.totals.apps).join(', ')

template( id='totals-view' ):
  tr: td.totals( colspan=6 )
    = totals.count
    |  items: 
    dl.projects
      - each duration, projectId in totals.projects
        - project = projects.get(projectId)
        dt= project.get('name')
        dd
          = toDurationString(duration)
          - if (project.get('rate'))
            = ' ($' + (project.get('rate')*duration/3600).toFixed(2) + ')'
      - if (totals.unassigned)
        dt unassigned
        dd= toDurationString(totals.unassigned)
