include ../header
  table.hour.toolbar
    tbody: tr
      th.project
      th.checkbox: input( type='checkbox' )
      th( colspan=2 )
        select#projects
          option( disabled=true ) assign to
          - each project in projects
            option( value=project.id )= project.name
          option( disabled=true )
          option( value='' ) unassign
        button#destroy delete
        form#sweep( method='POST', action=req.url + '/sweep')
          button sweep
      th( colspan=2 ): form#filter
        input( type='date', name='date', value=req.param('date'), placeholder='date' )
        input( type='search', name='query', value=req.param('query'), placeholder='search' )
        input( type='submit', value='go' )

    tfoot: tr
      th &nbsp;

ul.items Loading
  //- hour-view (li)

aside

template( id='hour-view' ):
  table.hour
    thead
      tr
        th.project project
        th.checkbox: input( type='checkbox' )
        th.duration
        th.hour= strftime('%l %p', hour.hour)
        th.app app
        th.description description
    //- totals-view (thead)
    //- group-view (tbody)
      //- item-view (tr)

template( id='item-view' ):
  // tr is removed by backbone view
  tr
    td.project
      - if (item.projectId)
        = projects.get(item.projectId).get('name')
    td: input( type='checkbox', checked=item.selected )
    td.duration= toDurationString(item.duration)
    td!= strftime('%l:<b>%M:%S</b>', item.start)
    - if (item.app)
      td= item.app
      td
        - if (description)
          .ellipsis= description
    - else
      td.unassigned( colspan=2 ) Unassigned

template( id='group-view' ):
  tr.summary
    td.project
      = projects.get(group.get('projectId')).get('name')
      = ' (' + group.collection.length + ')'
    td: input( type='checkbox' )
    td.duration= toDurationString(group.get('duration'))
    td
      != strftime('%l:<b>%M:%S</b>', group.get('start'))
      - if (group.collection.length > 1)
        != strftime(' - %l:<b>%M:%S</b>', group.get('end'))
    td( colspan=2 )= _.keys(group.get('totals').apps).join(', ')

template( id='totals-view' ):
  tr: th.totals( colspan=6 )
    = totals.length
    |  items:
    dl.projects
      - each duration, projectId in totals.projects
        - if (project = projects.get(projectId))
          dt= project.get('name')
          dd
            = toDurationString(duration)
            - if (project.get('rate'))
              = ' ($' + (project.get('rate')*duration/3600).toFixed(2) + ')'
      - if (totals.projects.unassigned)
        dt: a.unassigned unassigned
        dd= toDurationString(totals.projects.unassigned)

template( id='info-view' ):
  // aside is removed by backbone view
  aside
    h1= item.get('app')
    - if (item.get('info'))
      table.info
        - each v, k in item.get('info')
          tr
            th= k
            td= v
